# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

# Personal scripts
Makefile
demo

# CQ outputs
.cq
.peaks

# Sound files
*.wav
*.mp3
*.flac
*.raw


# MashApp bower polymer stuffs
mashapp/polymer/.bowerrc
mashapp/polymer/.editorconfig
mashapp/polymer/.gitattributes
mashapp/polymer/.gitignore
mashapp/polymer/.jscsrc
mashapp/polymer/.jshintrc
mashapp/polymer/app/cache-config.json
mashapp/polymer/app/favicon.ico
mashapp/polymer/app/index.html
mashapp/polymer/app/manifest.json
mashapp/polymer/app/robots.txt
mashapp/polymer/app/sw-import.js
mashapp/polymer/docs/
mashapp/polymer/gulpfile.js
mashapp/polymer/package.json
mashapp/polymer/wct.conf.js
